# This gitignore file is not for your Neos project, this is only for the Carbon.Rollup repo.
# If you have cloned the repository with the template feature, please replace this with you own content
node_modules
yarn.lock
